DATABASE_URL="postgresql://username:password@localhost:5432/nexxora_db"
DIRECT_URL="postgresql://username:password@localhost:5432/nexxora_db"

JWT_SECRET="your-secret-key"
PORT=8000

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

FRONTEND_URL="http://localhost:3000"

XENDIT_SECRET_KEY=""
XENDIT_CALLBACK_TOKEN=""

RAJAONGKIR_API_KEY=""
RAJAONGKIR_BASE_URL="https://rajaongkir.komerce.id/api/v1"
RAJAONGKIR_ORIGIN_ID=""
RAJAONGKIR_DEFAULT_COURIER="jne:jnt:sicepat"
RAJAONGKIR_DEFAULT_WEIGHT_GRAM=1000
